.gradient {
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
}

.NavItems {
    flex-direction: row;
    margin-left: auto;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
    font-weight: 300;
}

.nav-item {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
    margin-left: 2rem;
    padding: 13px 0px;
}

.nav-item a {
    color: #fff;
    cursor: pointer;
    padding: 11px;
    font-size: 22px;
}

/* .nav-item.active a {
    background-color: rgba(255, 255, 255, .1);
} */

.nav-item a:hover {
    background-color: #7034462a;
    border: 4px solid #7034466b;
    color: rgb(231, 222, 222)
}