.loadingBG {
    position: fixed;
    background: #191f26;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.loadingGIF {
    position: fixed;
    top: 0;
    bottom: 0;
    align-items: center;
    background: url(../../assets/images/giphy.gif);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}