.sticky-container {
    position: fixed;
    top: 22%;
    margin: 7px;
    /* background-color: #e0dbdb96;
    box-shadow: -0.5px 1px 1px 1px #b9abab; */
    padding: 10px;
}

.sticky-container .btn-floating {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    /* transition: all .2s ease-in-out; */
    margin: 10px;
    /* -webkit-border-radius: 50%;
    border-radius: 50%; */
    border-radius: 3px;
    padding: 0;
    cursor: pointer;
}

.sticky-container .btn-floating i {
    font-size: 1.25rem;
    line-height: 50px;
}

.sticky-container .btn-floating.btn {
    /* width: 70.1px;
    height: 70.1px; */
    width: 50.1px;
    height: 50.1px;
}

.sticky-container .modal-body {
    font-size: 25px;
    font-weight: 400;
}

.sticky-container .option-button {
    margin: 15px auto;
}

.sticky-container .btn {
    color: #fff !important;
}

.sticky-container .btn:hover {
    color: #fff !important;
}

.form-check-input[type=checkbox]+label:before, .form-check-input[type=checkbox]:not(.filled-in)+label:after, label.btn input[type=checkbox]+label:before, label.btn input[type=checkbox]:not(.filled-in)+label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #8a8a8a;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    margin-top: 3px;
    transition: .2s all;
}

.form-check-input[type=checkbox]:not(.filled-in)+label:after, label.btn input[type=checkbox]:not(.filled-in)+label:after {
    border: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.form-check-input[type=checkbox]+label, label.btn input[type=checkbox]+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 1.5625rem;
    line-height: 1.5625rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-check-input[type=checkbox]:checked+label:before, label.btn input[type=checkbox]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 1.375rem;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #4285f4;
    border-bottom: 2px solid #4285f4;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.form-inline .form-check-input {
    display: none;
}

.sticky-container .popover {
    position: absolute;
    z-index: 2;
    top: 106px;
}

.sticky-container .cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.sticky-container .lingth .md-form, .sticky-container .lingth .md-form.form-sm label {
    padding: 0px 10px;
}

.required {
    border: 3px solid #e60808;
}

.trans {
    background: #29282859;
    transition: all 0.5s ease;
}

.trans:hover {
    background: #29282807;
    transform: scale(1.05);
    border: 2px solid #29282859;
}