/* .required .md-form.md-outline input[type=text]:focus:not([readonly]), .required .md-form.md-outline input[type=text], .required .custom-select {
    border-color: #ac3333;
    box-shadow: inset 0px 0px 0px 1px #ac3333;
} */

/* .required .md-form.md-outline input[type=text]:focus:not([readonly])+label {
    color: #ac3333;
} */

.question-card {
    margin-top: 10px;
}

.question-card.required {
    border: 3px solid #e60808;
}

.question-card .datePickerLabel {
    float: left;
    padding-right: 11px;
    padding-left: 11px;
}

.form-check-input[type=radio]:not(:checked)+label:after, .form-check-input[type=radio]:not(:checked)+label:before, label.btn input[type=radio]:not(:checked)+label:after, label.btn input[type=radio]:not(:checked)+label:before {
    border: 2px solid #5a5a5a;
}

.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio].with-gap:checked+label:before, .form-check-input[type=radio]:checked+label:after, .form-check-input[type=radio]:checked+label:before, .form-check-input[type=radio]:not(:checked)+label:after, .form-check-input[type=radio]:not(:checked)+label:before, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio].with-gap:checked+label:before, label.btn input[type=radio]:checked+label:after, label.btn input[type=radio]:checked+label:before, label.btn input[type=radio]:not(:checked)+label:after, label.btn input[type=radio]:not(:checked)+label:before {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.form-check-input[type=radio]+label:after, .form-check-input[type=radio]+label:before, label.btn input[type=radio]+label:after, label.btn input[type=radio]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    -o-transition: .28s ease;
    transition: .28s ease;
}

.form-check-input[type=radio]:not(:checked)+label:after, label.btn input[type=radio]:not(:checked)+label:after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.form-check-input[type=radio]:checked+label:before, label.btn input[type=radio]:checked+label:before {
    border: 2px solid transparent;
}

.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio].with-gap:checked+label:before, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio].with-gap:checked+label:before, label.btn input[type=radio]:checked+label:after {
    border: 2px solid #4285f4;
}

.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio]:checked+label:after {
    background-color: #4285f4;
}

.form-check-input[type=radio]:checked+label, .form-check-input[type=radio]:not(:checked)+label, label.btn input[type=radio]:checked+label, label.btn input[type=radio]:not(:checked)+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 1.5625rem;
    line-height: 1.5625rem;
    -webkit-transition: .28s ease;
    -o-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[type=radio]:checked, [type=radio]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.range-field input[type=range]+.thumb.active .value {
    color: #fff;
    margin-left: -1px;
    margin-top: 8px;
    font-size: 10px;
}

.fade {
    opacity: 1;
}

.rs-input-group .rs-input {
    position: relative;
    z-index: 0;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.question input {
    color: #fff
}

.md-form.md-outline input:focus, .datePickerLabel, .question-card .custom-select, .question-card .question .form-check, .MuiInputLabel-animated-13, .question-card label {
    color: #fff;
}

.question .md-form.md-outline label.active {
    color: #fff;
    background: inherit
}

.md-form.md-outline.form-lg label.active {
    transform: translateY(-134%);
    font-size: 16px;
}

.question-card, .question, .rs-input-group-lg.rs-input-group:not(.rs-input-group-inside)>.rs-input, .question-card .custom-select {
    background-color: rgba(90, 89, 89, 0.2)
}

.question-card .custom-select option {
    color: #000;
    background-color: inherit
}

.question-card .custom-select {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23fff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
}

.MuiFormControl-marginNormal-2 {
    margin-top: 31px;
}

.chrome-picker {
    margin: auto
}