.surveyBuilderColor {
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin-bottom: 6px;
    overflow-y: hidden; */
    height: 100%;
    width: 100%;
    min-height: calc(100vh);
}

.surveyBuilderContant {
    /* margin-top: 111px; */
    margin-top: -35px;
    margin-bottom: 25px;
}